{% extends "layout.html" %}
{% block title %}Add Heavy Atoms{% endblock %}
{% block body %}
The following residues are missing heavy atoms, which will be added.
<p/>
<form method="post" id="form" action="{{ url_for('addHeavyAtoms') }}">
    <table class="table" id="table">
        <tr><th>Chain</th><th>Residue</th><th>Missing Atoms</th></tr>
        {% for residue in residues %}
            <tr>
                <td>{{ residue[0] }}</td>
                <td>{{ residue[1] }} {{ residue[2] }}</td>
                <td>{{ residue[3] }}</td>
            </tr>
        {% endfor %}
    </table>
    <input type="button" value="Continue" class="btn" onclick="submitWithSpinner('form')"/>
</form>
{% endblock %}