{% extends "layout.html" %}

{% macro fileinput(id) %}
<div class="input-group">
    <label class="btn btn-default btn-file input-group-addon">
        Browse... <input type="file" name="{{ id }}" id="{{ id }}" style="display: none" {{'disabled' if disabled else ''}} onchange="optionChanged()" />
    </label>
    <span id="{{ id }}_label" class="form-control" />
</div>
{% endmacro %}

{% block title %}Select Input Files{% endblock %}
{% block body %}
<p>Do you have available Amber files? </p>
<form method="post" enctype="multipart/form-data" action="{{ url_for('configureFiles') }}" class="form-horizontal">
    <!--has amber files-->
    <div style="margin-left:50px">
        <label class="control-label">
            <input type="radio" name="has_files" value="yes" checked onchange="optionChanged()" />
            Yes, </label> my files are already to simulate.
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <label for="prmtopFile" class="control-label col-md-2">Prmtop File</label>
            <div class="col-md-10">{{ fileinput('prmtopFile') }}</div>
        </div>
        <div class="form-group">
            <label for="inpcrdFile" class="control-label col-md-2">Inpcrd File</label>
            <div class="col-md-10" >{{ fileinput('inpcrdFile') }}</div>
        </div>
    </div>

    <!---For Ligands-->
    <div class="form-group" style="margin-left:100px">
        <p>Optional: If the above system contains ligands and you want to conduct MD post-analysis using OpenMMDL, please add the ligand file below.</p>
    </div>

    <!--normal ligand-->
    <div class="form-group" style="margin-left: 120px">
        <label><input type="checkbox" name="nmLig" id="nmLig" oninput="optionChanged()" {{ 'checked' if session['nmLig'] else '' }}> Normal Ligand 
            <span style="color:grey; font-weight: normal;">(refers to the chemical space is made up of C, N, O, S, P, H, F, Cl, Br and I)</span>
        </label>
    </div>

    <div id="nmLigOptions" hidden>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="nmLigFile" class="control-label col-md-2">SDF File</label>
                <div class="col-md-10">{{ fileinput('nmLigFile') }}</div>
            </div>
        </div>
    </div>

    <!--special ligand-->
    <div class="form-group" style="margin-left: 120px">
        <label><input type="checkbox" name="spLig" id="spLig" oninput="optionChanged()" {{ 'checked' if session['spLig'] else '' }}> Special Ligand
            <span style="color:grey; font-weight: normal;">(e.g. cofactor heme in CYP450 enzymes)</span>
        </label>
    </div>

    <div id="spLigOptions" hidden>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="spLigFile" class=" control-label col-md-2">SDF File</label>
                <div class="col-md-10">{{ fileinput('spLigFile') }}</div>
            </div>
        </div>
    </div>

    <!--don't have amber files-->
    <div style="margin-left:50px">
        <label class="control-label">
            <input type="radio" name="has_files" value="no" onchange="optionChanged()" />
            No, </label> I want to prepare them here.
        </div>
    <input type="submit" value="Continue" id="continue" class="btn" disabled="true" />
</form>


<script>
function optionChanged() {
    var hasFiles = document.querySelector('input[name="has_files"]:checked').value;
    if (hasFiles === "no") {
            // when the selction is 'no'
            document.getElementById("continue").disabled = false; // enable the continue button
            
            // disable to submit the prmtop and inpcrd files; 
            document.getElementById("prmtopFile").disabled = true; // disable the submit button
            document.getElementById("inpcrdFile").disabled = true; // disable the submit button
            // if the users submitted previously, erase the files.
            document.getElementById("prmtopFile").value = null; // erase the files
            document.getElementById("inpcrdFile").value = null; // erase the files
            document.getElementById("prmtopFile_label").textContent = ""; // erase the files
            document.getElementById("inpcrdFile_label").textContent = ""; // erase the files

            // disable to check the checkbox of nmLig and spLig;
            document.getElementById("nmLig").checked = false; 
            document.getElementById("spLig").checked = false; 
            // disable to submit the files.
            document.getElementById("nmLigFile").disabled = true;
            document.getElementById("spLigFile").disabled = true;
            // if the user submitted previously, firstly, erase the files;
            document.getElementById("nmLigFile").value = null;
            document.getElementById("spLigFile").value = null;
            document.getElementById("nmLigFile_label").textContent = "";
            document.getElementById("spLigFile_label").textContent = "";
            // secondly, hide the options;
            document.getElementById('nmLigOptions').hidden = true;
            document.getElementById('spLigOptions').hidden = true;
           

        } else {
            // when the selection is 'yes'

            // enable to submit the prmtop and inpcrd files;
            document.getElementById("prmtopFile").disabled = false;
            document.getElementById("inpcrdFile").disabled = false;
            // get the prmtop and inpcrd files, 
            prmtopFiles = document.getElementById("prmtopFile").files; // get the prmtop files
            inpcrdFiles = document.getElementById("inpcrdFile").files; // get the inpcrd files
            // and show the file names.
            document.getElementById("prmtopFile_label").textContent = (prmtopFiles.length == 0 ? "" : prmtopFiles[0].name); // show the prmtop file name
            document.getElementById("inpcrdFile_label").textContent = (inpcrdFiles.length == 0 ? "" : inpcrdFiles[0].name); // show the inpcrd file name
            

            // if ligands are contained in the modelling system.
            // enable to check the checkbox of nmLig and spLig;

            // if the nmLig or spLig is checked, firstly enable to submit the files.
            var nmLig = document.getElementById("nmLig").checked;
            if (nmLig) {
                document.getElementById("nmLigFile").disabled = false;
                // secondly, show the options.
                document.getElementById('nmLigOptions').hidden = false;
                // thirdly, get the files,
                nmLigFile = document.getElementById("nmLigFile").files;
                // and show the file names.
                document.getElementById("nmLigFile_label").textContent = (nmLigFile.length == 0 ? "" : nmLigFile[0].name);
            } else {
                // if the nmLig is not checked, firstly, disable to submit the files.
                document.getElementById("nmLigFile").disabled = true;
                // secondly, hide the options.
                document.getElementById('nmLigOptions').hidden = true;
                // thirdly, erase the files.
                document.getElementById("nmLigFile").value = null;
                document.getElementById("nmLigFile_label").textContent = "";
            };

            var spLig = document.getElementById("spLig").checked;
            if (spLig) {
                document.getElementById("spLigFile").disabled = false;
                // secondly, show the options.
                document.getElementById('spLigOptions').hidden = false;
                // thirdly, get the files,
                spLigFile = document.getElementById("spLigFile").files;
                // and show the file names.
                document.getElementById("spLigFile_label").textContent = (spLigFile.length == 0 ? "" : spLigFile[0].name);
            } else {
                // if the spLig is not checked, firstly, disable to submit the files.
                document.getElementById("spLigFile").disabled = true;
                // secondly, hide the options.
                document.getElementById('spLigOptions').hidden = true;
                // thirdly, erase the files.
                document.getElementById("spLigFile").value = null;
                document.getElementById("spLigFile_label").textContent = "";
            };
             
            // For the continue button,
            // if the prmtop and inpcrd files are submitted, the continue button will be enabled.
            var nmLigFileValue = document.getElementById("nmLigFile").value;
            var spLigFileValue = document.getElementById("spLigFile").value;
            var prmtopFileValue = document.getElementById("prmtopFile").value;
            var inpcrdFileValue = document.getElementById("inpcrdFile").value;
            var continueButton = document.getElementById('continue');

            // Check if prmtopFile and inpcrdFile are uploaded
            if (prmtopFileValue && inpcrdFileValue) {
                 // if both nmLig and spLig are checked, the continue button will be enabled only if both nmLigFile and spLigFile are selected.
                if (nmLig && spLig) {
                    continueButton.disabled = !(nmLigFileValue && spLigFileValue);
                } else if (nmLig) { // if the nmLig is checked, the continue button will be enabled only if the nmLigFile is selected.
                    continueButton.disabled = !nmLigFileValue;
                } else if (spLig) { // if the spLig is checked, the continue button will be enabled only if the spLigFile is selected.
                    continueButton.disabled = !spLigFileValue;
                } else { // if neither nmLig nor spLig is checked, enable the continue button
                    continueButton.disabled = false;
                }
            } else {
                continueButton.disabled = true;
            }
    }
    optionChanged();
}
    

</script>
{% endblock %}