{% extends "layout.html" %}

{% macro fileinput(id) %}
<div class="input-group">
    <label class="btn btn-default btn-file input-group-addon">
        Browse... <input type="file" name="{{ id }}" id="{{ id }}" style="display: none" {{'disabled' if disabled else ''}} onchange="optionChanged()" />
    </label>
    <span id="{{ id }}_label" class="form-control" />
</div>
{% endmacro %}

{% block title %}Select Input Files{% endblock %}
{% block body %}
<p>Do you have available Amber files? </p>
<form method="post" enctype="multipart/form-data" action="{{ url_for('configureFiles') }}" class="form-horizontal">
    <div style="margin-left:50px"><label class="control-label"><input type="radio" name="has_files" value="yes" checked
                onchange="optionChanged()" />Yes, </label> my files are already to simulate.</div>
    <div class="form-group">
        <label for="prmtopFile" class="control-label col-md-2">Prmtop File</label>
        <div class="col-md-10">{{ fileinput('prmtopFile') }}</div>
    </div>
    <div class="form-group">
        <label for="inpcrdFile" class="control-label col-md-2">Inpcrd File</label>
        <div class="col-md-10">{{ fileinput('inpcrdFile') }}</div>
    </div>

    <div style="margin-left:50px"><label class="control-label"><input type="radio" name="has_files" value="no"
                onchange="optionChanged()" />No, </label> I want to prepare them here.</div>
    <input type="submit" value="Continue" id="continue" class="btn" disabled="true" />
</form>


<script>
 
    function optionChanged() {
    var hasFilesRadio = document.querySelector('input[name="has_files"]:checked');
    if (hasFilesRadio.value === "no") {
            // If the user does not have available Amber files, enable the sumit button.
            document.getElementById("continue").disabled = false;
        document.getElementById("prmtopFile").value = null;
        document.getElementById("inpcrdFile").value = null;
        document.getElementById("prmtopFile_label").textContent = ""; 
        document.getElementById("inpcrdFile_label").textContent = ""; 
        document.getElementById("prmtopFile").disabled = true;
        document.getElementById("inpcrdFile").disabled = true;
        } else {
            // Otherwise, update the UI elements based on the selected files.
            prmtopFiles = document.getElementById("prmtopFile").files;
            inpcrdFiles = document.getElementById("inpcrdFile").files;
            document.getElementById("prmtopFile_label").textContent = (prmtopFiles.length == 0 ? "" : prmtopFiles[0].name);
            document.getElementById("inpcrdFile_label").textContent = (inpcrdFiles.length == 0 ? "" : inpcrdFiles[0].name);
            document.getElementById('continue').disabled = !document.getElementById("prmtopFile").value || !document.getElementById("inpcrdFile").value;
        document.getElementById("prmtopFile").disabled = false;
        document.getElementById("inpcrdFile").disabled = false;
        }
    }
    optionChanged();

    

</script>
{% endblock %}
