{% extends "layout.html" %}
{% block title %}Run Simulation{% endblock %}
{% block startover %}{% endblock %}
{% block body %}
<form method="get" id="form">
    <p>Enter the path to the directory where the simulation should be run.  All input files will be copied there, and
    the output files will be written there.</p>
    <div class="form-group">
    <input type="text" name="directory" id="directory" value="{{ defaultDir }}" class="form-control"/>
    </div>
    <div class="form-group">
    <button type="button" id="start" class="btn btn-default" onclick="startSimulation()">Start</button>
    <button type="button" id="cancel" class="btn btn-default" onclick="stopSimulation()" disabled="true">Cancel</button>
    </div>
    <pre><div id="output" style="min-height:200px"/></pre>
</form>

<script>
function startSimulation() {
    document.getElementById("output").textContent = "";
    form = document.getElementById("form");
    var request = new XMLHttpRequest();
    var data = new FormData(form);
    request.open("POST", "{{ url_for('startSimulation') }}");
    request.send(data);
    intervalId = setInterval(getSimulationOutput, 2000);
    document.getElementById("start").disabled = true;
    document.getElementById("cancel").disabled = false;
}

function stopSimulation() {
    form = document.getElementById("form");
    var request = new XMLHttpRequest();
    var data = new FormData(form);
    request.open("POST", "{{ url_for('stopSimulation') }}");
    request.send(data);
}

function getSimulationOutput() {
    form = document.getElementById("form");
    var request = new XMLHttpRequest();
    var data = new FormData(form);
    request.addEventListener("load", function(event) {
        if (request.status == 404) {
            clearInterval(intervalId);
            document.getElementById("start").disabled = false;
            document.getElementById("cancel").disabled = true;
        }
        else if (event.target.responseText.length > 0) {
            isAtBottom = (window.scrollY >= document.body.scrollHeight-window.innerHeight);
            document.getElementById("output").textContent += event.target.responseText;
            if (isAtBottom)
                window.scrollTo(0, document.body.scrollHeight);
        }
    });
    request.open("GET", "{{ url_for('getSimulationOutput') }}");
    request.send(data);
}
</script>
</script>
{% endblock %}