{% extends "layout.html" %}
{% block title %}Select Input File Type{% endblock %}
{% block startover %}{% endblock %}
{% block body %}
<h2>Welcome to OpenMMMDL Configuration File Generator!</h2>
What kind of file or files do you have describing the system to simulate?
<p/>
<form method="get" action="{{ url_for('selectFiles') }}">
    <label class="control-label"><input type="radio" name="type" value="pdb" checked/> PDB</label>
    <p style="margin-left:50px">A PDB or PDBx/mmCIF file</p>
    <input type="submit" value="Continue" class="btn"/>
</form>

{% endblock %}
